<div class="page">

  <div class="search-area">
    <input type="text" [(ngModel)] = "input_value" (keyup.enter) = "filter()" placeholder="Enter the company Name...">
    <button (click) = "input_value = '';tableDisplay =this.data"  ><i class="fa fa-search"></i> clear </button>
</div>
<div class="table-area">
    <table>
        <tr>
          <th>Sl. No.</th>
          <th>Name</th>
          <th>Age</th>
          <th>Balance</th>
          <th>Company</th>
        </tr>
        <tr *ngFor="let item of tableDisplay; let i = index">
          <td>{{i+1}}</td>
          <td > <a routerLink="/{{item.name}}" (click) ="update(item)" >{{item.name}}</a></td>
          <td>{{item.age}}</td>
          <td>{{item.balance}}</td>
          <td>{{item.company}}</td>
        </tr>
       
      </table>
</div>



</div>
