

.details{
    margin-top: 2em;
    position: relative;
    text-align: center;
    padding: 2em;
  
  background-color:#8C8293 ;
  width: 30%;
  border-radius: 1em;
  color: #DDC7C8;
    
}

a{
    border-radius: .5em;
    color: #8D9B7F;
    text-decoration: none;
    font-size:large;
    background: #DFD0C0;
    padding-right: 5px;
    padding-left: 5px;
}

